.menulink{
    float:right;
}
.menulink li{
    display: inline-block;
    list-style: none;
    padding:2.0rem 0.5rem;
}
.menulink li a{
    color:#E65E02;
    font-size:1.2rem;
}
.menulink li a.active{
    color:#0CB320;
}